{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './bs/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container" >
        <div class="row add-padding-bottom">
            <div class="col-12">
                <h2>To Do</h2>
                <form action="{% url 'add' %}" method="POST" id="content">
                    {% csrf_token %}
                    <div class="input-group">
                        {{ form.text }}
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-warning" id="add-btn">Dodaj</button>
                        </span>
                    </div>
                    
                </form>
                  
            </div>
            
        </div>






        <div class="row add-padding-bottom">
            <h3>Lista:</h3>
            <div class="col-12">
                <ul class="list-group">
                    {% for todo in todo_list %}
                        {% if todo.complete %}
                            <li class="list-group-item disabled done">{{ todo.text }}</li>
                        {% else %}
                            {% if todo.id|divisibleby:2 %}
                                <a class="list-group-item-action" href="{% url 'complete' todo.id %}"><li class="list-group-item list-group-item-secondary">{{ todo.text }}</li></a>
                            {% else %}
                                <a class="list-group-item-action" href="{% url 'complete' todo.id %}"><li class="list-group-item">{{ todo.text }}</li> </a>
                            {% endif %} 
                        {% endif %}
                    {% endfor %}
                  </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h3>Progress:</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                  </div>
            </div>
        </div>




    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>