body {
    background-image: linear-gradient(120deg, #99e7dd, #3abbf7);
    min-height: 100vh;
}

.done {
    text-decoration: line-through;
}

.add-padding-bottom {
    padding-bottom: 10px;
}

.a-list-group {
    color: #383d41 !important;
}